.message-hide {
    display: none;
}
.message-show {
    display: flex;
}
.btn-nd {
    margin-left: 10px;
    margin-bottom: 10px;
}
.tabela {
    padding: 14px;
}
.produto {
    color: red !important;
}
